.no-creations-here {
  text-align: center;
}

.creation {}

.creation .creation__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.creation .creation__meta a:hover {
  text-decoration: none;
}

.btn-add-new-creation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}