<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="creation">
        <div class="creation__meta">
          <a href="/{{ creation.creator.username }}">
            {{ creation.creator.username }}
          </a>
        </div>

        <div class="creation__description">
          {{ creation.description }}
        </div>
      </div>
    </div>
  </div>
</div>