<form role="form" ng-submit="vm.submit()">
  <div class="form-group">
    <label for="creation__description">New Creation</label>
    <textarea class="form-control"
              id="creation__description"
              rows="3"
              placeholder=""
              ng-model="vm.description">
    </textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>